
human-detection-dataset 
#Installed some simple unannotated dataset from: https://www.kaggle.com/datasets/constantinwerner/human-detection-dataset?resource=download
#I will use a small portion of it on testing

/src/__pycache__/
/src/Detection/__pycache__/
/src/Detection/dataset/annotations*

/src/txttest.py

mp_env
secret.yml
sender.yml